<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic s
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   
   <ion-card *ngFor="let x of data">
     <img [src]='x.picture.large' />
      <ion-card-title>{{ x.name.first+" "+x.name.last }}</ion-card-title>
   </ion-card>


   <ion-infinite-scroll threshold="100px" (ionInfinite)="doThis($event)">
     <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
     ></ion-infinite-scroll-content>
   </ion-infinite-scroll>
  </div>
</ion-content>
